<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.floridapoly.mobiledeviceapp.fall19.toptiertabletop">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewPlayer" />
        <activity android:name=".GamePage" />
        <activity android:name=".PlayerBookPage" />
        <activity android:name=".SearchForParty"></activity>

        <activity android:name=".SearchForPlayer" />
        <activity
            android:name=".LoginPage"
            android:label="TopTierTabletop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".HomePage" />
        <activity android:name=".NewCharacterCreator" />
        <activity android:name=".NewPartyCreator" />
        <activity android:name=".PlayerBookPage"></activity>
        <activity android:name=".GamePage"></activity>
    </application>

</manifest>